<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="retro_tv_style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="20">


<div class="row">
  <div class="col-4">
    <div class="col-5">  </div>
    <div class="col-2"><p>ORDERS</p></div>
    <div class="col-1"><p>COFFEE</p></div>
    <div class="col-2"><p>COWORKING</p></div>
    <div class="col-2"><p>GIPHY</p></div>
    <div class="col-6">  </div>
    <div class="col-7">
      <div class="col-head"><p>THIS WEEK</p></div>
      <div class="col-cont">
        <div class="col-cont2">
          <p1><br>{{title}}<br><br>{{description}}<br><br>{{votes}}</p1>
        </div>
        <div class="col-coffeeimg">
          <img src="{{img}}" style="float:right">
        </div>
      </div>
    </div>
    <div class="col-8"><p>***</p></div>
  </div>
</div>
<div class="scan"></div>
<div id="overlay"></div>
