<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="retro_tv_style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="15">

<div class="scan"></div>
<div class="row">
  <div class="col-4">
    <div class="col-5">  </div>
    <div class="col-2"><p>ORDERS</p></div>
    <div class="col-2"><p>COFFEE</p></div>
    <div class="col-1"><p>COWORKING</p></div>
    <div class="col-2"><p>EVENTS</p></div>
    <div class="col-2"><p>GIPHY</p></div>
    <div class="col-6">  </div>
    <div class="col-7">
      <div class="col-head"><p>JOIN DJÄKNE</p></div>
      <div class="col-cont" style="width:20%"> </div>
      <div class="col-cont" style="width:40%">
        <p1><br>BENEFITS<br><br>
          GREAT COFFEE<br>
          ORDER COFFEE THROUGH THE APP<br>
          WORKSPACE ON THE GROUND FLOOR<br>
          ABILITY TO BOOK MEETING ROOM<br>
          WI-FI<br>
          BREAKFAST<br>
          POSTBOX<br>
          LOCKER<br>
          WORKSPACE ON SECOND FLOOR<br>
          20% OFF MEETING ROOM<br>
          PRICE PER MONTH (EXCL. VAT)
        </p1>
      </div>
      <div class="col-cont" style="width:10%">
        <p1><br>DJÄKNE<br><br>
          +<br>
          +<br>
          +<br>
          +<br>
          +<br>
          -<br>
          -<br>
          -<br>
          -<br>
          -<br>
          990:-
        </p1>
      </div>
      <div class="col-cont" style="width:10%">
        <p1><br>PREMIUM<br><br>
          +<br>
          +<br>
          +<br>
          +<br>
          +<br>
          +<br>
          +<br>
          +<br>
          +<br>
          +<br>
          1490:-
        </p1>
      </div>
      <div class="col-cont" style="width:20%"> </div>
    </div>
    <div class="col-8"><p>***</p></div>
  </div>
</div>
<div id="overlay"></div>
