<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="retro_tv_style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="{{sync}}">

<div class="scan"></div>
<div class="row">
  <div class="col-4">
    <div class="col-5">  </div>
    <div class="col-1"><p>ORDERS</p></div>
    <div class="col-2"><p>COFFEE</p></div>
    <div class="col-2"><p>COWORKING</p></div>
    <div class="col-2"><p>GIPHY</p></div>
    <div class="col-6">  </div>
    <div class="col-7">
      <div class="col-head"><p>LATEST</p></div>
      <div class="col-cont">
        <br>
        {{#if order0}}
          <div class="col-order">
            <div class="col-orderimg" style="display: flex;align-items: center;justify-content: center">
              <img src="data:image/jpeg;base64,{{img0}}" style="height:95%">
            </div>
            <div class="col-ordertext">
              <p1>{{name0}}<br>{{headline0}}</p1>
            </div>
          </div>
        {{else}}

        {{/if}}
        {{#if order1}}
          <div class="col-order">
            <div class="col-orderimg" style="display: flex;align-items: center;justify-content: center">
              <img src="data:image/jpeg;base64,{{img1}}" style="height:95%">
            </div>
            <div class="col-ordertext">
              <p1>{{name1}}<br>{{headline1}}</p1>
            </div>
          </div>
        {{else}}

        {{/if}}
        {{#if order2}}
          <div class="col-order">
            <div class="col-orderimg" style="display: flex;align-items: center;justify-content: center">
              <img src="data:image/jpeg;base64,{{img2}}" style="height:95%">
            </div>
            <div class="col-ordertext">
              <p1>{{name2}}<br>{{headline2}}</p1>
            </div>
          </div>
        {{else}}

        {{/if}}
        {{#if order3}}
          <div class="col-order">
            <div class="col-orderimg" style="display: flex;align-items: center;justify-content: center">
              <img src="data:image/jpeg;base64,{{img3}}" style="height:95%">
            </div>
            <div class="col-ordertext">
              <p1>{{name3}}<br>{{headline3}}</p1>
            </div>
          </div>
        {{else}}

        {{/if}}
        {{#if order4}}
          <div class="col-order">
            <div class="col-orderimg" style="display: flex;align-items: center;justify-content: center">
              <img src="data:image/jpeg;base64,{{img4}}" style="height:95%">
            </div>
            <div class="col-ordertext">
              <p1>{{name4}}<br>{{headline4}}</p1>
            </div>
          </div>
        {{else}}

        {{/if}}
        {{#if order5}}
          <div class="col-order">
            <div class="col-orderimg" style="display: flex;align-items: center;justify-content: center">
              <img src="data:image/jpeg;base64,{{img5}}" style="height:95%">
            </div>
            <div class="col-ordertext">
              <p1>{{name5}}<br>{{headline5}}</p1>
            </div>
          </div>
        {{else}}

        {{/if}}
      </div>
    </div>
    <div class="col-8"><p>***</p></div>
  </div>
</div>
<div id="overlay"></div>
